.bottom-nav {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;

  height: 80px;
  background: #ffffff;

  border-top-left-radius: 24px;
  border-top-right-radius: 24px;

  display: flex;
  justify-content: space-around;
  align-items: center;

  z-index: 5;
}

/* 버튼 */
.nav-item {
  background: none;
  border: none;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;

  font-size: 12px;
  color: #9b9ba1;

  cursor: pointer;
}

/* 아이콘 */
.nav-item img {
  width: 24px;
  height: 24px;
}

/* 활성 텍스트만 진하게 */
.nav-item.active {
  color: #000000;
  font-weight: 600;
}
